[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
click = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pyfakefs = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python -m detimer"
test = "pytest tests/"
build = "python setup.py clean --all sdist bdist_wheel"
